<div class="container">
    <div class="form-group">
        <h1>@ViewBag.ActivityEvent.ActivityName</h1>
        <a href="home">Home</a>
        <a href="logout">Logout</a>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Event Coordinator: @ViewBag.ActivityEvent.Coordinator</h2>
            <h2>Description: @ViewBag.ActivityEvent.Description</h2>
            <ul>
                @foreach(var join in ViewBag.ActivityEvent.Attendees)
                    {
                        <li>@join.User.Name</li>
                    }
            </ul>
        </div>
    </div>
        @{
        if(@ViewBag.User.UserId != @ViewBag.ActivityEvent.Coordinator.UserId)
        {
            <button class="btn btn-info"><a href="join/@ViewBag.ActivityEvent.ActivityEventId/@ViewBag.User.UserId">Join This Event!</a></button>
        }
        else if(@ViewBag.User.UserId != @ViewBag.ActivityEvent.Coordinator.UserId && @Viewbag.ActivityEvent.Attendees.Contains(@ViewBag.User))
        {
            <button class="btn btn-info"><a href="leave/@ViewBag.ActivityEvent.ActivityEventId/@ViewBag.User.UserId">Leave Event</a></button>
        }
        else if(@ViewBag.User.UserId == @ViewBag.ActivityEvent.Coordinator.UserId)
        {
            <button class="btn btn-danger"><a href="delete/@ViewBag.ActivityEvent.ActivityEventId">Delete This event?</a></button>
        }
        }
    }
</div> 