<div class="container">
    <div class="form-group">
        <h1>Welcome to the Activity Planner</h1>
        <h3>Welcome @ViewBag.User.Name</h3>
        <a href="logout">Logout</a>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Date and Time</th>
                <th scope="col">Duration (in number of hours)</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col"># of particpants</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var e in ViewBag.Activities)
                {
                    bool Attending = false;
                    foreach(var j in e.Attendees)
                    {
                        if(j.AUser == ViewBag.User)
                        {
                            Attending = true;
                        }
                    }
                    if(e.ActivityStart > DateTime.Now)
                    {
                        <tr>
                            <td><a href="/@e.ActivityEventId">@e.ActivityName</a></td>
                            <td>@e.ActivityStart</td>
                            <td>@e.ActivityDuration</td>
                            <td>@e.Coordinator.Name</td>
                            <td>@e.Attendees.Count</td>
                            @{
                                if(e.Coordinator.UserId == ViewBag.User.UserId && Attending)
                                {
                                    <td><a href="/delete/@e.ActivityEventId">Delete</a></td>
                                }
                                else if(Attending && e.Coordinator.UserId != ViewBag.User.UserId)
                                {
                                    <td><a href="/leave/@e.ActivityEventId/@ViewBag.User.UserId">Leave</a></td>
                                }
                                else
                                {
                                    <td><a href="/join/@e.ActivityEventId/@ViewBag.User.UserId">Join</a></td>
                                }
                            }
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
<button class="btn btn-info"><a href="new">Add an Event!</a></button>
</div>